<div class="container">
  <div *ngIf="userService.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>

    <button (click)="userService.googleSignin()">
        <i class="fa fa-google"></i> Log in with Google
    </button>

    <h2>Current Chirps</h2>
    <app-chirp-list></app-chirp-list>
  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
  <div *ngIf="userService.user$ | async as user">
      <h3>Howdy, {{ user.displayName }}</h3>
      <p>UID: {{ user.uid }}</p>
      <button (click)="userService.signOut()">Logout</button>
  </div>
  </ng-template>

</div>
