<div class="container">
  <div class="row py-3 chirp-box">
    <div class="col-1" *ngIf="user">
      <img class="avatar" src="{{user.photoURL}}" alt="{{user.displayName}}+ avatar" />
    </div>
    <div class="col pl-4 pl-lg-1">
      <form [formGroup]="chirpForm" (ngSubmit)="onSubmit()">
        <textarea name="text" class="form-control mb-2" placeholder="What's Happening...?" [formControl]="postTextControl" ></textarea>

        <!-- Only show this if the post length is > 140 -->
        <small class="form-text">140 character limit!</small>
        
        <div class="text-right">

          <!-- Disable if invalid post length -->
          <button class="btn btn-primary" ng-attr-disabld="post.length === 0 || post.length > 140">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Share
          </button> 					
        </div>
      </form>
    </div>
  </div>
</div>